In [132]:
import pandas as pd

In [165]:
df = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')
df.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

In [166]:
df.shape

(8693, 14)

In [167]:
"df['Destination'].unique()"
for i in df:
    print(i, df[i].isnull().sum())

PassengerId 0
HomePlanet 201
CryoSleep 217
Cabin 199
Destination 182
Age 179
VIP 203
RoomService 181
FoodCourt 183
ShoppingMall 208
Spa 183
VRDeck 188
Name 200
Transported 0

In [135]:
df.shape

(8693, 14)

In [136]:
df.drop(['Name', 'Spa', 'ShoppingMall', 'Destination', 'Cabin'], axis= 1)
test.drop(['Name', 'Spa', 'ShoppingMall', 'Destination', 'Cabin'], axis= 1)

,PassengerId,HomePlanet,CryoSleep,Age,VIP,RoomService,FoodCourt,VRDeck
0,0013_01,Earth,True,27.0,False,0.0,0.0,0.0
1,0018_01,Earth,False,19.0,False,0.0,9.0,0.0
2,0019_01,Europa,True,31.0,False,0.0,0.0,0.0
3,0021_01,Europa,False,38.0,False,0.0,6652.0,585.0
4,0023_01,Earth,False,20.0,False,10.0,0.0,0.0
...,...,...,...,...,...,...,...,...
4272,9266_02,Earth,True,34.0,False,0.0,0.0,0.0
4273,9269_01,Earth,False,42.0,False,0.0,847.0,144.0
4274,9271_01,Mars,True,NaN,False,0.0,0.0,0.0
4275,9273_01,Europa,False,NaN,False,0.0,2680.0,523.0
4276,9277_01,Earth,True,43.0,False,0.0,0.0,0.0

In [137]:
df['HomePlanet'].value_counts()

Earth     4602
Europa    2131
Mars      1759
Name: HomePlanet, dtype: int64

In [170]:
from sklearn.preprocessing import OneHotEncoder
# Converting type of columns to category 
df['HomePlanet'] = df['HomePlanet'].astype('category')
df['CryoSleep'] = df['CryoSleep'].astype('category')
df['VIP'] = df['VIP'].astype('category')

In [171]:
test['HomePlanet'] = test['HomePlanet'].astype('category')
test['CryoSleep'] = test['CryoSleep'].astype('category')
test['VIP'] =test['VIP'].astype('category')

In [172]:
# Converting type of columns to category 
df['HomePlanet'] = df['HomePlanet'].cat.codes
df['CryoSleep'] = df['CryoSleep'].cat.codes
df['VIP'] = df['VIP'].cat.codes

In [174]:
df['HomePlanet'].unique()

array([ 1,  0,  2, -1], dtype=int8)

In [141]:
test['HomePlanet'] = test['HomePlanet'].astype('category')
test['CryoSleep'] = test['CryoSleep'].astype('category')
test['VIP'] = test['VIP'].astype('category')

In [142]:
# Create an instance of One-hot-encoder 
enc = OneHotEncoder()

In [168]:
# Passing encoded columns 
  
enc_df = pd.DataFrame(enc.fit_transform(df[['HomePlanet']]).toarray()) 

print(enc_df)

        0    1    2    3
0     0.0  1.0  0.0  0.0
1     1.0  0.0  0.0  0.0
2     0.0  1.0  0.0  0.0
3     0.0  1.0  0.0  0.0
4     1.0  0.0  0.0  0.0
...   ...  ...  ...  ...
8688  0.0  1.0  0.0  0.0
8689  1.0  0.0  0.0  0.0
8690  1.0  0.0  0.0  0.0
8691  0.0  1.0  0.0  0.0
8692  0.0  1.0  0.0  0.0

[8693 rows x 4 columns]

In [144]:
# Merge with main 
df = df.join(enc_df, lsuffix= '0') 
test = test.join(enc_test, lsuffix= '0')

In [145]:
df.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,...,0,1,2,3,4,5,6,7,8,9
0,0001_01,1,0,B/0/P,TRAPPIST-1e,39.0,0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
1,0002_01,0,0,F/0/S,TRAPPIST-1e,24.0,0,109.0,9.0,25.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
2,0003_01,1,0,A/0/S,TRAPPIST-1e,58.0,1,43.0,3576.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
3,0003_02,1,0,A/0/S,TRAPPIST-1e,33.0,0,0.0,1283.0,371.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
4,0004_01,0,0,F/1/S,TRAPPIST-1e,16.0,0,303.0,70.0,151.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0

In [146]:
df.columns

Index([ 'PassengerId',   'HomePlanet',    'CryoSleep',        'Cabin',
        'Destination',          'Age',          'VIP',  'RoomService',
          'FoodCourt', 'ShoppingMall',          'Spa',       'VRDeck',
               'Name',  'Transported',              0,              1,
                    2,              3,              4,              5,
                    6,              7,              8,              9],
      dtype='object')

In [147]:
df = df.drop(['Name', 'Spa', 'ShoppingMall', 'Destination', 'Cabin'], axis=1)
test = test.drop(['Name', 'Spa', 'ShoppingMall', 'Destination', 'Cabin'], axis=1)

In [148]:
df.isnull().sum()

PassengerId      0
HomePlanet       0
CryoSleep        0
Age            179
VIP              0
RoomService    181
FoodCourt      183
VRDeck         188
Transported      0
0                0
1                0
2                0
3                0
4                0
5                0
6                0
7                0
8                0
9                0
dtype: int64

In [149]:
df.head()

,PassengerId,HomePlanet,CryoSleep,Age,VIP,RoomService,FoodCourt,VRDeck,Transported,0,1,2,3,4,5,6,7,8,9
0,0001_01,1,0,39.0,0,0.0,0.0,0.0,False,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
1,0002_01,0,0,24.0,0,109.0,9.0,44.0,True,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
2,0003_01,1,0,58.0,1,43.0,3576.0,49.0,False,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
3,0003_02,1,0,33.0,0,0.0,1283.0,193.0,False,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
4,0004_01,0,0,16.0,0,303.0,70.0,2.0,True,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0

In [150]:

#Filling NAN values by the mean values
df['Age'].fillna(df['Age'].mean(), inplace=True)
df['FoodCourt'].fillna(df['FoodCourt'].mean(), inplace=True)
df['RoomService'].fillna(df['RoomService'].mean(), inplace=True)
df['VRDeck'].fillna(df['VRDeck'].mean(), inplace=True)

In [151]:
test['Age'].fillna(test['Age'].mean(), inplace=True)
test['FoodCourt'].fillna(test['FoodCourt'].mean(), inplace=True)
test['RoomService'].fillna(test['RoomService'].mean(), inplace=True)
test['VRDeck'].fillna(test['VRDeck'].mean(), inplace=True)

In [152]:
df.head()

,PassengerId,HomePlanet,CryoSleep,Age,VIP,RoomService,FoodCourt,VRDeck,Transported,0,1,2,3,4,5,6,7,8,9
0,0001_01,1,0,39.0,0,0.0,0.0,0.0,False,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
1,0002_01,0,0,24.0,0,109.0,9.0,44.0,True,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
2,0003_01,1,0,58.0,1,43.0,3576.0,49.0,False,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
3,0003_02,1,0,33.0,0,0.0,1283.0,193.0,False,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
4,0004_01,0,0,16.0,0,303.0,70.0,2.0,True,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0

In [153]:
from sklearn import svm
model = svm.SVC()

In [154]:
from sklearn.model_selection import train_test_split
df.columns = df.columns.astype(str)
test.columns = test.columns.astype(str)
X = df.drop('Transported', axis=1)
y = df['Transported']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [155]:
model.fit(X_train, y_train)

SVC()

In [156]:
y_pred = model.predict(X_train)

In [157]:
y_pred = model.predict(X_test)

In [158]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

       False       0.55      0.60      0.57       870
        True       0.56      0.52      0.54       869

    accuracy                           0.56      1739
   macro avg       0.56      0.56      0.56      1739
weighted avg       0.56      0.56      0.56      1739

In [159]:
model.fit(X,y)

SVC()

In [160]:
test.dtypes

PassengerId      object
HomePlanet     category
CryoSleep      category
Age             float64
VIP            category
RoomService     float64
FoodCourt       float64
VRDeck          float64
0               float64
1               float64
2               float64
3               float64
4               float64
5               float64
6               float64
7               float64
8               float64
9               float64
dtype: object

In [161]:
"""import numpy as np
test['VIP'] = test['VIP'].replace('%','').astype(np.float64)

test['CryoSleep'] = test['CryoSleep'].replace('%','').astype(np.float64)"""

"import numpy as np\ntest['VIP'] = test['VIP'].replace('%','').astype(np.float64)\n\ntest['CryoSleep'] = test['CryoSleep'].replace('%','').astype(np.float64)"

In [162]:
test.dtypes

PassengerId      object
HomePlanet     category
CryoSleep      category
Age             float64
VIP            category
RoomService     float64
FoodCourt       float64
VRDeck          float64
0               float64
1               float64
2               float64
3               float64
4               float64
5               float64
6               float64
7               float64
8               float64
9               float64
dtype: object

In [163]:

result = model.predict(test)

ValueError: Cannot cast object dtype to float64