In [111]:
import pandas as pd

In [112]:
df = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')
df.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

In [113]:
df = df.drop(['Name'], axis=1)
test = test.drop(['Name'], axis=1)

In [114]:
df.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,True

In [115]:
df.isnull().sum()

PassengerId       0
HomePlanet      201
CryoSleep       217
Cabin           199
Destination     182
Age             179
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Transported       0
dtype: int64

In [116]:
num_col =['Age', 'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck']
oth_col =['HomePlanet', 'CryoSleep', 'Cabin', 'Destination', 'VIP']
for i in num_col:
    df[i] = df[i].fillna(df[i].mean())
for i in oth_col:
    df[i] = df[i].fillna(df[i].value_counts().index[0])

df['VIP'] = df['VIP'].astype(int)
df['CryoSleep'] = df['CryoSleep'].astype(int)
df['Transported'] = df['Transported'].astype(int)

In [117]:
num_col =['Age', 'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck']
oth_col =['HomePlanet', 'CryoSleep', 'Cabin', 'Destination', 'VIP']
for i in num_col:
    test[i] = test[i].fillna(test[i].mean())
for i in oth_col:
    test[i] = test[i].fillna(test[i].value_counts().index[0])

test['VIP'] = test['VIP'].astype(int)
test['CryoSleep'] = test['CryoSleep'].astype(int)

In [118]:
for i in ['HomePlanet','Destination']:
    print(i, df[i].unique())

HomePlanet ['Europa' 'Earth' 'Mars']
Destination ['TRAPPIST-1e' 'PSO J318.5-22' '55 Cancri e']

In [119]:
df.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported
0,0001_01,Europa,0,B/0/P,TRAPPIST-1e,39.0,0,0.0,0.0,0.0,0.0,0.0,0
1,0002_01,Earth,0,F/0/S,TRAPPIST-1e,24.0,0,109.0,9.0,25.0,549.0,44.0,1
2,0003_01,Europa,0,A/0/S,TRAPPIST-1e,58.0,1,43.0,3576.0,0.0,6715.0,49.0,0
3,0003_02,Europa,0,A/0/S,TRAPPIST-1e,33.0,0,0.0,1283.0,371.0,3329.0,193.0,0
4,0004_01,Earth,0,F/1/S,TRAPPIST-1e,16.0,0,303.0,70.0,151.0,565.0,2.0,1

In [120]:
#splitting data
pass_str =df['PassengerId'].astype(str)
df['group'] = pass_str.str[0:4].astype(int)
df['number'] = pass_str.str[5:7].astype(int)

In [121]:
pass_str = test['PassengerId'].astype(str)
test['group'] = pass_str.str[0:4].astype(int)
test['number'] = pass_str.str[5:7].astype(int)

In [122]:
df.head()
df = df.drop('PassengerId', axis =1)

In [126]:
test.head()

,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,group,number
0,Earth,1,G/3/S,TRAPPIST-1e,27.0,0,0.0,0.0,0.0,0.0,0.0,13,1
1,Earth,0,F/4/S,TRAPPIST-1e,19.0,0,0.0,9.0,0.0,2823.0,0.0,18,1
2,Europa,1,C/0/S,55 Cancri e,31.0,0,0.0,0.0,0.0,0.0,0.0,19,1
3,Europa,0,C/1/S,TRAPPIST-1e,38.0,0,0.0,6652.0,0.0,181.0,585.0,21,1
4,Earth,0,F/5/S,TRAPPIST-1e,20.0,0,10.0,0.0,635.0,0.0,0.0,23,1

In [127]:
test = test.drop('PassengerId', axis =1)

KeyError: "['PassengerId'] not found in axis"

In [128]:
df.head()

,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported,group,number
0,Europa,0,B/0/P,TRAPPIST-1e,39.0,0,0.0,0.0,0.0,0.0,0.0,0,1,1
1,Earth,0,F/0/S,TRAPPIST-1e,24.0,0,109.0,9.0,25.0,549.0,44.0,1,2,1
2,Europa,0,A/0/S,TRAPPIST-1e,58.0,1,43.0,3576.0,0.0,6715.0,49.0,0,3,1
3,Europa,0,A/0/S,TRAPPIST-1e,33.0,0,0.0,1283.0,371.0,3329.0,193.0,0,3,2
4,Earth,0,F/1/S,TRAPPIST-1e,16.0,0,303.0,70.0,151.0,565.0,2.0,1,4,1

In [129]:
cabin_str =df['Cabin'].astype(str)
df['deck'] = cabin_str.str[0]
df['side'] = cabin_str.str[-1]
df['num'] = cabin_str.str[2:-2]

In [130]:
cabin_str = test['Cabin'].astype(str)
test['deck'] = cabin_str.str[0]
test['side'] = cabin_str.str[-1]
test['num'] = cabin_str.str[2:-2]

In [131]:
df.head()

,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported,group,number,deck,side,num
0,Europa,0,B/0/P,TRAPPIST-1e,39.0,0,0.0,0.0,0.0,0.0,0.0,0,1,1,B,P,0
1,Earth,0,F/0/S,TRAPPIST-1e,24.0,0,109.0,9.0,25.0,549.0,44.0,1,2,1,F,S,0
2,Europa,0,A/0/S,TRAPPIST-1e,58.0,1,43.0,3576.0,0.0,6715.0,49.0,0,3,1,A,S,0
3,Europa,0,A/0/S,TRAPPIST-1e,33.0,0,0.0,1283.0,371.0,3329.0,193.0,0,3,2,A,S,0
4,Earth,0,F/1/S,TRAPPIST-1e,16.0,0,303.0,70.0,151.0,565.0,2.0,1,4,1,F,S,1

In [132]:
df = df.drop('Cabin',axis=1)
test = test.drop('Cabin',axis=1)

In [133]:
test.head()

,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,group,number,deck,side,num
0,Earth,1,TRAPPIST-1e,27.0,0,0.0,0.0,0.0,0.0,0.0,13,1,G,S,3
1,Earth,0,TRAPPIST-1e,19.0,0,0.0,9.0,0.0,2823.0,0.0,18,1,F,S,4
2,Europa,1,55 Cancri e,31.0,0,0.0,0.0,0.0,0.0,0.0,19,1,C,S,0
3,Europa,0,TRAPPIST-1e,38.0,0,0.0,6652.0,0.0,181.0,585.0,21,1,C,S,1
4,Earth,0,TRAPPIST-1e,20.0,0,10.0,0.0,635.0,0.0,0.0,23,1,F,S,5

In [134]:
df.dtypes

HomePlanet       object
CryoSleep         int32
Destination      object
Age             float64
VIP               int32
RoomService     float64
FoodCourt       float64
ShoppingMall    float64
Spa             float64
VRDeck          float64
Transported       int32
group             int32
number            int32
deck             object
side             object
num              object
dtype: object

In [135]:
test['num'] = test['num'].astype(int)
df['num'] = df['num'].astype(int)

In [136]:
df = pd.get_dummies(df).astype(int)
test = pd.get_dummies(test).astype(int)

In [137]:
df.columns

Index(['CryoSleep', 'Age', 'VIP', 'RoomService', 'FoodCourt', 'ShoppingMall',
       'Spa', 'VRDeck', 'Transported', 'group', 'number', 'num',
       'HomePlanet_Earth', 'HomePlanet_Europa', 'HomePlanet_Mars',
       'Destination_55 Cancri e', 'Destination_PSO J318.5-22',
       'Destination_TRAPPIST-1e', 'deck_A', 'deck_B', 'deck_C', 'deck_D',
       'deck_E', 'deck_F', 'deck_G', 'deck_T', 'side_P', 'side_S'],
      dtype='object')

In [138]:
from sklearn.ensemble import GradientBoostingClassifier
model = GradientBoostingClassifier()

In [139]:
from sklearn.model_selection import train_test_split
features = df.drop('Transported', axis=1)
y = df['Transported']
X_train, X_test, y_train, y_test = train_test_split(features, y, test_size=0.2)

In [140]:
model.fit(X_train, y_train)

GradientBoostingClassifier()

In [141]:
y_pred = model.predict(X_test)

In [142]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.82      0.79      0.80       860
           1       0.80      0.83      0.82       879

    accuracy                           0.81      1739
   macro avg       0.81      0.81      0.81      1739
weighted avg       0.81      0.81      0.81      1739

In [143]:
model.fit(features, y)

GradientBoostingClassifier()

In [144]:
result = model.predict(test)

In [146]:
test['Transported'] = result.astype(bool)
test['PassengerId'] = pass_str
submission = test[['PassengerId','Transported']]
submission.to_csv('submission_final.csv',index=False)