In [100]:
import pandas as pd

In [101]:
train = pd.read_csv("train.csv")
test = pd.read_csv('test.csv')
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [102]:


train = train.drop(['Name', 'Ticket', 'Fare', 'Cabin', 'Embarked'], axis = 1)
test = test.drop(['Name', 'Ticket', 'Fare', 'Cabin', 'Embarked'], axis = 1)
train.head()

   PassengerId  Survived  Pclass     Sex   Age  SibSp  Parch
0            1         0       3    male  22.0      1      0
1            2         1       1  female  38.0      1      0
2            3         1       3  female  26.0      0      0
3            4         1       1  female  35.0      1      0
4            5         0       3    male  35.0      0      0

In [103]:
train['Sex'] = (train['Sex'] == 'male').astype(int)
test['Sex'] = (test['Sex'] == 'male').astype(int)

test.head()

   PassengerId  Pclass  Sex   Age  SibSp  Parch
0          892       3    1  34.5      0      0
1          893       3    0  47.0      1      0
2          894       2    1  62.0      0      0
3          895       3    1  27.0      0      0
4          896       3    0  22.0      1      1

In [104]:
attributes = ['PassengerId', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch']
for i in attributes:
    print(i, test[i].isnull().sum())
    print(i, train[i].isnull().sum())

PassengerId 0
PassengerId 0
Pclass 0
Pclass 0
Sex 0
Sex 0
Age 86
Age 177
SibSp 0
SibSp 0
Parch 0
Parch 0

In [105]:
train['Age'] = train['Age'].fillna(train['Age'].value_counts().index[0])
test['Age'] = test['Age'].fillna(test['Age'].value_counts().index[0])

In [106]:
print(train['Age'].isnull().sum())
print(test['Age'].isnull().sum())

0
0

In [107]:
list = ['Pclass', 'Sex', 'Age', 'SibSp', 'Parch']
pass_id = test['PassengerId']
test = test[list]

In [108]:
from sklearn.linear_model import LogisticRegression

model  = LogisticRegression()

In [109]:
from sklearn.model_selection import train_test_split

x = train[['Pclass', 'Sex', 'Age', 'SibSp', 'Parch']]
y = train['Survived']
x_train , x_test, y_train, y_test = train_test_split(x,y, test_size = 0.2)

In [110]:
model.fit(x_train, y_train)

LogisticRegression()

In [111]:
y_pred = model.predict(x_test)

In [112]:
from sklearn.metrics import classification_report

print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.88      0.84      0.86       113
           1       0.75      0.80      0.77        66

    accuracy                           0.83       179
   macro avg       0.81      0.82      0.82       179
weighted avg       0.83      0.83      0.83       179

In [113]:
model.fit(x,y)

LogisticRegression()

In [114]:
result = model.predict(test)

In [115]:
submission = pd.DataFrame([pass_id,result])
submission = submission.transpose()
submission.rename(columns={'Unnamed 0':'Survived'})

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [116]:
submission.to_csv('submission1.csv', index = False)