In [119]:
import pandas as pd

In [120]:
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [121]:
train.isnull().sum()
train = train.drop(["Cabin", "Name","Ticket"], axis= 1)
test = test.drop(["Cabin", "Name","Ticket"], axis= 1)

In [122]:
train.isnull().sum()
test.isnull().sum()

PassengerId     0
Pclass          0
Sex             0
Age            86
SibSp           0
Parch           0
Fare            1
Embarked        0
dtype: int64

In [123]:
train['Embarked'].unique()

array(['S', 'C', 'Q', nan], dtype=object)

In [124]:
train['Age']= train['Age'].fillna(train['Age'].mean().astype(int))
test['Age']= test['Age'].fillna(test['Age'].mean().astype(int))

In [125]:
train.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Sex            0
Age            0
SibSp          0
Parch          0
Fare           0
Embarked       2
dtype: int64

In [126]:
train['Embarked'] = train['Embarked'].fillna(train['Embarked'].value_counts().index[0])
test['Embarked'] = test['Embarked'].fillna(test['Embarked'].value_counts().index[0])
test['Fare'] = test['Fare'].fillna(test['Fare'].value_counts().index[0])

In [129]:
train =pd.get_dummies(train).astype(int)
test = pd.get_dummies(test).astype(int)
train.head()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
0,1,0,3,22,1,0,7,0,1,0,0,1
1,2,1,1,38,1,0,71,1,0,1,0,0
2,3,1,3,26,0,0,7,1,0,0,0,1
3,4,1,1,35,1,0,53,1,0,0,0,1
4,5,0,3,35,0,0,8,0,1,0,0,1

In [130]:
from sklearn.ensemble import GradientBoostingClassifier 
model = GradientBoostingClassifier()

In [131]:
from sklearn.model_selection import train_test_split

X = train.drop('Survived',axis=1)
y = train['Survived']

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size= 0.2)

In [132]:
model.fit(X_train, y_train)

GradientBoostingClassifier()

In [133]:
y_pred = model.predict(X_test)

In [134]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.78      0.93      0.85       107
           1       0.86      0.61      0.72        72

    accuracy                           0.80       179
   macro avg       0.82      0.77      0.78       179
weighted avg       0.81      0.80      0.80       179

In [136]:
model.fit(X, y)

GradientBoostingClassifier()

In [137]:
result = model.predict(test)

In [138]:
test['Survived'] = result
submission = test[['PassengerId','Survived']]
submission.to_csv('submission_final.csv',index=False)